header {
    background-color: rgba(64, 155, 110, 0.911);
    border-width: 3px;
    border-style: solid;
    border-color: rgba(128, 126, 126, 0.493);
    border-radius: 8px;
    border-bottom: 2px;
    font-family: sans-serif;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 1310 px 350px 233px  ;
}

header,
h1 {
    color: white;
    font-size: 1.5em;
    padding-top: 8px;
    overflow: hidden;
    text-align: left;
  
}