body {
    background-color: darkgray;
}

table {
    border-collapse: collapse;
    border-radius: 2px;
    width: 50%;
}

th,
td {
    border: 1px solid ;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(64, 155, 110, 0.911);
}

tr {
    background-color: rgba(216, 250, 233, 0.911);
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(216, 250, 233, 0.911);
}

input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color:  rgba(216, 250, 233, 0.911)

}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(216, 250, 233, 0.911);
}

input[type="tel"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(216, 250, 233, 0.911);
}

#direc {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(216, 250, 233, 0.911);
}

label, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;  
}

select {
    background-color: rgba(216, 250, 233, 0.911);
}

fieldset {
      border: 3px solid rgba(64, 155, 110, 0.911); 
      padding: 10px 15px 15px 15px; 
      border-radius: 5px;
      width: 97%; 
}

legend {
      padding: 0 10px;
      font-weight: bold;
}

button {
    background-color: rgba(8, 82, 45, 0.911);
    border-radius: 6px;
    padding: 15px 20px;
    color:antiquewhite ;
    font-size: 18px;
    font-weight: bold;
}
